{% extends 'catalog/main.html' %}
{% load static %}

{% block content %}

    <body id="accueil" class="text-center">


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">

            <h1 class="cover-heading">Travel Agency</h1>
            <p class="lead">Investir dans les voyages, c’est investir en soi-même</p>
            <p class="lead">
                <a href="offres/" class="btn btn-lg btn-secondary">OFFRES D'EVASION</a>
            </p>

        </main>


    </div>


    </body>
{% endblock %}
